<%- include('partials/header.ejs') %>
    <div class="container-fluid">
        <div class="row equal-height-row d-flex flex-wrap">
            <% for( let index=0; index < array.length; index++ ) { %>
                <div class="col-12 col-sm-6 col-md-4 lg-3 blog">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= array[index].heading %>
                            </h4>
                            <p class="card-text ">
                                <%= array[index].dateAndTime %>
                            </p>
                            <a href="/viewBlog/<%= index %>" class="btn btn-primary cardButton">View</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <script>
        function mousein() {
            this.classList.add('hover');
        }
        function mouseout() {
            this.classList.remove('hover');
        }
        var cards = document.querySelectorAll(".card");
        for (var i = 0; i < cards.length; i++) {
            cards[i].addEventListener("mouseover", mousein);
            cards[i].addEventListener("mouseout", mouseout);
        }
    </script>
<%- include('partials/footer.ejs') %>